.card-container{
    border-radius: 20px;
    width: 200px;        
    color: gray;
    position: relative;
    margin-right: 10px;
}

.card-container img{
    border-radius: 40px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    filter:brightness(0.45);
    position: absolute;
    margin-right: 10px;
    z-index: 300;
}

.card-container .card-icon{
    width: 75px;
    height: 75px;
    background-color: #9FC131;
    position: absolute;
    left: 225px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 310;
}

.card-container .card-icon ion-icon{
    font-size: 34px;
    color: #ffffff;
    margin-top: 20px;
}

.card-container .card-title{
    left: 120px;
    top: 110px;
    color: white;
    position: absolute;
    z-index: 310;
}

.card-container .card-subtitle{
    width: 139px;
    left: 121px;
    top: 135px;
    color: white;
    position: absolute;
    text-align: left;
    line-height: 1.1;
    z-index: 310;
}