.columns{
    align-items: center;
}

.trayectory-container{
    width: 100%;
    display: flex;
    flex-direction: column;

}


.info-trayectory{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 74%
}

.trayectory-container .columns{
    background-color: #005c53;
    min-width: 50%;
    min-height: 8rem;
    border-radius: 2rem;
    padding: 1.1rem;
    margin-bottom: 2rem;
    column-gap: 2rem;
}

.trayectory-container .columns .description-trayectory{
    width: 100%;
    margin-right: 15px;
}

.date-container{
    display: flex;
    flex-direction: row;
}

.date-container img{
    width: 2rem;
    margin-right: 0.3rem;
}