.columns{
    align-items: center;
}

.trayectory-container{
    width: 90%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.info-trayectory{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 999;
    min-width: 65%
}

.trayectory-container .columns{
    background-color: orange;
    min-width: 50%;
    height: 8rem;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    column-gap: 2rem;
}


.trayectory-container .columns .description-trayectory{
    width: 100%;
    margin-right: 15px;
}