:root {
  font-family: 'Nunito', sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p{ 
  font-size: 14px; 
  text-align: justify;
}

b{
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-weight: 600;
}

a{
  margin: auto;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

